<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>BCF - Breast Cancer Finder</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap" rel="stylesheet">
    </head>

    <header>
        <div class="header-bar">
            <img class="logo" src="../static/images/BCF_transparent.png">

            <nav class="grp_connexion">
                <a class="boutton" href="connexion.php">Connexion</a>
                <a class="boutton"  href="inscription.php">S'inscrire</a>
            </nav>
        </div>
    </header>


    <body>
    <!--
    <div class="presentation">
        <img id="fleche_back" class="next" src="/static/images/fleche.png">
        <p> </p>
        <p>
            <b>Présentation du projet</b><br><br>
            L’idée du projet est de profiter des avancées dans le domaine du machine learning et particulièrement du transfert learning et deep learning afin de produire un modèle d’analyse de mammographies du cancer du sein. L’innovation réside dans le côté prédictif du modèle ainsi que dans la capacité à restituer la tumeur dans un environnement en 2D. Les performances permettraient de détecter un cancer et des prédispositions au développement de la pathologie chez les sujets analysés, tout en étant plus rapide que les radiologues. En bref, donner la possibilité aux organismes publics de gagner en efficacité.
            </br></br>A partir de 50 ans, les françaises sont invitées à passer un dépistage du cancer du sein, sous forme de mammographie. Cela crée un volume de données conséquent, et les radiologues doivent vérifier une à une chaque mammographie. Notre logiciel permettrait donc de se placer en amont du radiologue et de traiter un grand nombre de mammographies. Ainsi, le radiologue n’aurait plus qu’à vérifier les mammographies suspectes pointées par notre logiciel. Cela représenterait un gros gain de temps pour le personnel médical.
        </p>
        <p> </p>
        <img class="next" src="/static/images/fleche.png" onclick="">
    </div>
    -->

        <div id="slider-wrapper">
            <div class="inner-wrapper">
                <input checked type="radio" name="slide" class="control" id="Slide1" />
                <label for="Slide1" id="s1"></label>
                <input type="radio" name="slide" class="control" id="Slide2" />
                <label for="Slide2" id="s2"></label>
                <input type="radio" name="slide" class="control" id="Slide3" />
                <label for="Slide3" id="s3"></label>
                <input type="radio" name="slide" class="control" id="Slide4" />
                <label for="Slide4" id="s4"></label>
                <div class="overflow-wrapper">
                    <a class="slide"><img src="../static/images/index1.png"></a>
                    <a class="slide"><img src="../static/images/index2.png"></a>
                    <a class="slide"><img src="../static/images/index3.png"></a>
                    <a class="slide"><img src="../static/images/index4.png"></a>
                </div>
            </div>
        </div>
    </body>



    <footer>
        <div class="foot">
            <p><i>L'IA au service de la santé</i></p>
            <! -- Liens vers page qui sommes-nous  -->
        </div>
        <div class="foot">
              <p><i>Copyright © BCF - 2020</i></p>
              <p>Contactez nous au : 0616344513 </p>
        </div>
        <div class="foot">
            <p><a href="https://www.facebook.com/BreastCancerFinder/?notif_id=1605289323338281&notif_t=page_fan&ref=notif" target="_blank" rel="nofollow">Facebook</a></p>
            <p> <a href="https://www.facebook.com/BreastCancerFinder/?notif_id=1605289323338281&notif_t=page_fan&ref=notif" target="_blank" rel="nofollow">Instagram</a></p>
            <! -- Liens vers nos réseaux sociaux  -->
        </div>

    </footer>

</html>