

html{
  height: 100%;
  width : 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-family: 'Dancing Script', cursive;
}


body{
  margin: 0;
  background-size: cover;
  background-color: #DAF3FF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------- HEADER -------------------------------------------------------------------*/


header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 15vh;
  background-color: #77A3D7;
  color: white;
  box-shadow: 0px 5px 5px #77A3D7;
}

.header-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  height: auto;
  width: 19em;
}


.grp_connexion{
  width: 20em;
  display: flex;
  justify-content: space-around;
}

.boutton{
  padding: 1.5em;
  background-color: #77A3D7;
  border-radius: 10px;
  border: 0.5px solid black;
  margin-bottom: 1em;
  box-shadow: 1px 1px 1px black;
}

.boutton:hover{
  background-color: #3F70A0;
  transition: .5s ease;
}


/*---------------------------------------------------- BODY ---------------------------------------------------- */

.presentation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  width: 60em;
  height:auto;
  left: 10em;
  top: 10em;
  background-color: #FFFFFF;
  padding: 5em;
  border-radius: 3em;
  box-shadow: 1px 1px 1px darkgrey;
  border: 0.5px solid darkgray;
}



.next{
  height: auto;
  width: 2em;
  display: flex;
  flex-wrap: wrap;
  opacity: 50%;
}
.next:hover{
  height: auto;
  width: 2em;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  transition: 1s ease;
}
#fleche_back{
  transform: scaleX(-1);
}







#slider-wrapper {
  width: 940px;
  height: 470px;
  margin: 50px auto;
  position: relative;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 3em;

}

#s1 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s2 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s3 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s4 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: .50;
}

.inner-wrapper {
  width: 940px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}

.control {
  display: none;
}

#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}

#Slide4:checked ~ .overflow-wrapper {
  margin-left: -300%;
}

#Slide1:checked + #s1 {
  opacity: 1;
}

#Slide2:checked + #s2 {
  opacity: 1;
}

#Slide3:checked + #s3 {
  opacity: 1;
}

#Slide4:checked + #s4 {
  opacity: 1;
}

.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide img {
  width: 25%;
  float: left;
}

.para{
  width: 940px;
  height: 470px;
}

/* ----------------------------------------------------------- FOOTER -----------------------------------------------*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
/* Create three equal columns that floats next to each other */
.foot {
  float: left;
  width: 33.33%;
  flex-direction: column;
}

/* Clear floats after the columns */
footer:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .foot{
    width: 100%;
  }
}
a{
  text-decoration: none;
}

a:visited{
  color: aliceblue;
}