<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BCF - Inscription</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap" rel="stylesheet">
</head>
<header>
    <div class="header-bar">
        <a href="{{ url_for('index') }}"><img class="logo" src="/static/images/BCF_transparent.png" ></a>
    </div>
</header>
<body>
    <div class="connexion">
        <h1>S'inscrire</h1>
        <div class="form">
            <form class="ins" action="/client" method="post">

                <label for="mail">Enter your password : </label>
                <input class ="inp" name="email">

                <label for="password">Enter your password : </label>
                <input class ="inp" name="password">

                <label for="password">Confirm your password : </label>
                <input class ="inp" name="confirm password">

                <input class='espace' type="submit" value="Register">

            </form>
            <p>Vous avez déjà un compte ? <a class="identification" href="{{ url_for('connexion') }}">Se connecter</a></p>
        </div>
    </div>

</body>
</html>